h1 {
    text-align: center;
}

li {
    margin: 5px 0px;
}

#container {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 20%;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

#nav {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

nav > p, nav > button {
    display: inline-flex;
}

div > button {
    color: #FF0707;
}

div > button:hover {
    text-decoration-line: underline;
}

button {
    border: none;
    font-size: 16px;
}

table {
    border-collapse: separate;
    border-spacing: 15px;
}

.learningMaterialID, .suggestedTags {
    font-size: 18px;
}

.suggestedTags {
    font-weight: bold;
}

ul.suggestedTags {
    height: 50vh;
    overflow: scroll;
}

#conceptList {
    height: 50vh;
}

#conceptListContainer {
    height: 50vh;
    overflow: scroll;
}