<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/GraphStyle.css}">
</head>
<body>
    
    <div id="header">
        <h1>Concept Knowledge Graphs</h1>
    </div>
    
    <div id="menu"></div>
    <img th:src="@{/tecmapColorCoding.jpg}"  width="300" height="300">


    <h3 id="title"></h3>
    
    <div id="section"></div>
    
    <div id="text"></div>
    
    <div id="footer">
        Student Assessment Tool
    </div>

    <div id="suggestion">
        <h1 style="text-align: center;" id="suggestionName"> Suggestions </h1>
        <table align="center" border="5" id="suggestionTable">
            <tr><th scope="col"> Wrong List </th><th scope="col"> Incomplete List </th></tr>
            <tr><td id="wrongTable"></td><td id="incompleteTable"></td></tr>
        </table>
    </div>

    <div id="groupSuggestion" style="background-color: #dddddd">
        <h1 style="text-align: center;"> Group Suggestions </h1>
        <div align="center" id="groupButtons">
            <label for="groupSize"> Group Size: </label><input id="groupSize" name="groupSize" type="number">
            <button onclick="getGroups(groupSize.value)"> Get Groups! </button>
            <div id="groupTableDiv">

            </div>
        </div>
    </div>

</body>
    <!-- Load the google charts loader JS, and the google ajax libraries -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Local Imports -->
    <script type="text/javascript" th:src="@{/js/org.js}"></script>
    <script type="text/javascript" th:src="@{/js/GraphFunctions.js}"></script>
    
    <!-- File that starts execution -->
    <script th:inline="javascript">
        //could read from a static Json file by changing the argument to readJson here
        courseId = [[${courseId}]];
    </script>
    <script th:src="@{/js/CohortGraph.js}"></script>
</html>