<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Connect Materials</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/ConnectMaterials.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>

        <div id="nav">
            <h1>Learning Materials</h1>
            <nav>
                <button id="prev" onclick="nextMaterial(false)"> < </button>
                <p id="index"></p>
                <button id="next" onclick="nextMaterial(true)"> > </button>
            </nav>

            <button>Save Changes</button>

        </div>

        <div id="container">

            <ul id="learningMaterialInfo">

            </ul>

            <table id="conceptList">

            </table>

        </div>



    </body>

    <script th:inline="javascript">
        courseId = [[${courseId}]];
        console.log(courseId)
    </script>

    <script type="text/javascript" th:src="@{/js/Comm.js}"></script>
    <script th:src="@{/js/ConnectMaterials.js}"></script>
    <script th:src="@{/js/UpdateResourceRecords.js}"></script>

</html>