<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 class="text-center"> Connect Resources to Concepts </h1>
    <br>
    <div class="container-fluid">
        <div class="row>">
            <div class="col-xs-6 col-xs-offset-3" th:id="authoring">
                <table class="table-bordered table-striped" th:id="authoringTable">

                </table>
                <br>
                <br>
                <div class="col-xs-4" th:id="home">
                    <button class='center-block btn btn-primary' type='submit' onclick='goHome()'> Home </button>
                </div>
                <div class="col-xs-4" th:id="addResource">
                    <label class="center-block" for="newResource"> New Resource ID: </label>
                    <input style="color: #BBB;" class="center-block" id="newResource" value="New Resource ID" onblur="if(this.value==''){ this.value='New Resource ID'; this.style.color='#BBB';}"
                           onfocus="if(this.value=='New Resource ID'){ this.value=''; this.style.color='#000';}" type="text">
                    <label class="center-block" for="newResourceMaxValue"> Max Knowledge Estimate: </label>
                    <input class="center-block" min="1" value="1" type="number" id="newResourceMaxValue">
                    <button class="center-block btn btn-primary" type="submit" onclick="addResource(document.getElementById('newResource').value, document.getElementById('newResourceMaxValue').valueAsNumber)"> Add Resource </button>
                </div>
                <div class="col-xs-4" th:id="save">
                    <button class='center-block btn btn-primary' type='submit' onclick='submit()'> Save </button>
                </div>
            </div>
        </div>
    </div>

    <!--Files That Starts the calls  -->
    <script type="text/javascript" th:src="@{/js/Comm.js}"></script>
    <script type="text/javascript" th:src="@{/js/GraphFunctions.js}"></script>
    <script th:inline="javascript">
        courseId = [[${courseId}]];
    </script>

    <script th:src="@{/js/UpdateResourceRecords.js}"></script>
    <script th:src="@{/js/CheckboxMatrixFunctions.js}"></script>
    <script th:src="@{/js/ConnectResources.js}"></script>

</body>
</html>